/*
NOTE:
esercizio sicuro dello scritto => vengono date delle regole con delle specificita' diverse e viene chiesto quale viene applicata
leggibilita' => per la cart stampata giustificare il testo, per lo schermo no, usare allineamento a bandiera
*/

* {
    padding: 0em;
    margin: 0em;
}

html {
    background-image: url(../images/sfondo.jpg);
    background-color: black;
    width: 100%;
}

body {
    /*
     * Questo viene impostato perche' gli schermi stanno diventanto sempre
     * piu' grandi e quindi per leggere si va a muovere la testa => torci collo
     */
    max-width: 1024px;
    /* Questo serve per avere il body sempre centrato */
    margin: auto;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #dddddd;
}

#header {
    padding: 1.0em;
    text-align: center;
    min-height: 9em;
}

#header h1 {
    color: maroon;
    font-size: 3.5em;
}

#header h2 {
    color: black;
    font-size: 1.3em;
    font-style: italic;
    font-weight: normal;
}

#logo {
    float: left;
    /* il logo sta avendo il 10% della larghezza disponibile dell'id padre */
    width: 15%;
    max-width: 9em;
}

#percorso {
    background-color: maroon;
    color: white;
    padding: 0.5em 0em 0.5em 1em;
    font-weight: bold;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

#menu {
    float: left;
    width: 20%;
    padding: 0.8em;
    font-size: 1.1em;
}

#menu ul {
    list-style-type: none;
}
#menu ul li {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#rightSideBar {
    float: right;
    width: 20%;
    font-size: 0.7em;
    padding: 0.5em;
}

.contenutoGenerale {
    width: 70%;
    margin-left: 20%;
    border-left: 1px solid #dddddd;
    padding: 1.5em 1.0em 3.0em 2.0em;
}
.contenutoGenerale h1 {
    text-align: center;
}

#contenutoHome {
    width: 50%;
    border-right: 1px solid #dddddd;
}

#contenutoHome img {
    width: 70%;
}

#characterStory {
    width: 90%;
    margin: auto;
}

#characterStory dt {
    font-weight: bold;
    background-color: maroon;
    color: #ffffff;
    padding: 0.9em;
}

#characterStory dd {
    border: 1px solid #000000;
    border-top: none;
    padding: 0.5em;
}

#characterStory dd img {
    width: 20%;
    float: left;
    margin-right: 1.0em;
    margin-top: 0.5em;
    margin-left: 0.5em;
}

#characterStory dd p {
    margin-left: 25%;
}

#characterStory dd p.aiutoTornaSu {
    text-align: right;
}

table {
    width: 90%;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
}

table, tr, td, th {
    border: 1px solid #000000;
}

/* non e' necessario inserire table thead ma basta thead perche' thead sara' un tag che si trova solo in una table */

table thead, table tfoot {
    color: white;
    background-color: maroon;
}

table td, table th{
    padding: 0.5em;
}



#footer {
    text-align: center;
    font-size: 0.7em;
    padding: 0.5em;
    padding-top: 1.3em;
    font-style: italic;
    border-top: 1px solid #dddddd;
}

#imgValidCode {
    float: left;
}

#imgValidCSS {
    float: right;
}

